@{
    ViewData["Title"] = "Home Page";
}

<div class="page-loader">
	<div class="spinner"></div>
	<div class="txt">Loading<br>Please wait</div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<section class="header">
    <article class="headerBlock"><h1>CSS Flip Card (Content with JS)</h1></article>
</section>

<section class="content">
</section>